:root {
  --main-font: 'Lato', sans-serif;
  --secondary-font: 'Nunito Sans', sans-serif;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --blue-text-color: #32325d;
  --accent-color: #3dcf8e;
  --accent-color-hover: #34b079;

  --background: linear-gradient(225deg, #4d4d9e 0%, #32325d 100%);
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* COMMON */

.section-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.33;

  margin-bottom: 10px;
}

.section-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding-right: 135px;
    padding-left: 135px;
  }
}

/* ========== LOGO ========== */

.logo {
  display: inline-flex;
  align-items: center;
  width: 65px;
  cursor: pointer;
  z-index: 999;
}

.logo-icon {
  fill: var(--accent-color);
  transition: all 500ms linear;
}

.logo-text__accent {
  fill: var(--accent-color);
  transition: fill 500ms linear;
}
.logo:hover > .logo-text > .logo-text__accent {
  fill: var(--accent-color-hover);
}
.logo:hover > .logo-icon {
  transform: scale(1.2);
  fill: var(--accent-color-hover);
}

.logo-text {
  font-weight: 900;
  font-style: normal;
  font-size: 12px;
  line-height: 1.166;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 2px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 109px;
  }
  .logo-text {
    font-size: 20px;
    line-height: 24px;
  }
  .logo-icon {
    width: 40px;
    height: 40px;
  }
  .logo-text__accent {
    width: 31px;
    height: 8px;
  }
}

/* ========== HEADER ========== */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header .container {
  display: flex;
  margin-top: 17px;
}

.header-btn {
  display: inline-block;

  margin-left: auto;
  padding: 0;

  z-index: 999;
  background-color: transparent;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.1px;

  color: var(--secondary-text-color);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    top: 0px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    padding-top: 142px;
    padding-bottom: 118px;
    width: 100%;
    /* height: 458px; */

    text-align: center;

    background: var(--background);
    transition: all 300ms linear;
  }

  .header-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 45px;
}

.site-nav__link {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.33;
  color: var(--secondary-text-color);
  transition: all 300ms linear;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color-hover);
}

@media screen and (min-width: 768px) {
  .header .container {
    align-items: center;

    margin: 16px 0 0 0;
  }

  .header-btn {
    display: none;
  }

  .site-nav {
    margin-left: auto;
  }

  .site-nav__list {
    display: flex;
  }

  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .site-nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: var(--secondary-text-color);

    letter-spacing: 0.102857px;
  }
}

/* ========== HERO ========== */

.hero {
  position: relative;

  height: 405px;
  background: var(--background);
}

.hero-title {
  padding-top: 122px;

  font-weight: 700;
  font-size: 38px;
  line-height: 1.34;

  color: var(--secondary-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    height: 392px;
  }

  .hero-title {
    padding: 146px 0 114px 0;

    margin: 0 auto;
    max-width: 528px;
    font-size: 48px;
    line-height: 1.35;
  }
}
@media screen and (min-width: 1440px) {
  .hero-title {
    padding: 130px 0;
  }
}

/* ========== ABOUT ========== */

.about {
  padding-top: 30px;
  margin-bottom: 5px;
}

.about-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  color: var(--primary-text-color);
}

.about-nav.link-accent {
  color: var(--accent-color);
}

.arrow-icon {
  margin-left: 8px;
  margin-right: 5px;
}

.section-title.about-title {
  margin-top: 20px;
}

.section-descr.first-part {
  margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
  .section-descr__fool-text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 50px;
    margin-bottom: 50px;
  }

  .section-title.about-title {
    margin-top: 30px;
  }

  .section-descr__fool-text {
    display: inline;
  }
  .section-descr__short-text {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .main-info-wrap {
    width: 795px;
  }
  .about .container {
    padding-right: 0;
    padding-left: 0;
  }
}

/* ========== DESCTOP INFO ========== */

.desctop-info {
  display: none;
}

@media screen and (min-width: 1440px) {
  .page-info-wrapper {
    display: flex;
    padding-right: 135px;
    padding-left: 135px;
  }

  .desctop-info {
    display: block;

    margin-left: auto;
    margin-top: 89px;
  }

  /* ========== NEWS LIST ========== */

  .country-news {
    margin-bottom: 30px;
  }

  .country-news__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.1px;

    text-align: center;

    color: var(--blue-text-color);

    margin-bottom: 14px;
  }

  .news-list__item {
    display: block;
    position: relative;
    cursor: pointer;
  }

  .news-list__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .news-list__img-wrap {
    width: 300px;
    height: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms linear;
  }

  .news-list__img-wrap.country-usa {
    background-image: linear-gradient(
        225deg,
        rgba(37, 37, 134, 0.4) 0%,
        rgba(50, 50, 93, 0.4) 100%
      ),
      url('../images/countries/country-usa.jpg');
  }
  .news-list__img-wrap.country-ukraine {
    background-image: linear-gradient(
        225deg,
        rgba(37, 37, 134, 0.4) 0%,
        rgba(50, 50, 93, 0.4) 100%
      ),
      url('../images/countries/country-ukraine.jpg');
  }
  .news-list__img-wrap.country-germany {
    background-image: linear-gradient(
        225deg,
        rgba(37, 37, 134, 0.4) 0%,
        rgba(50, 50, 93, 0.4) 100%
      ),
      url('../images/countries/country-germany.jpg');
  }

  .news-list__img-wrap:hover {
    background-size: 110%;
    overflow: hidden;
    background-position: center;
  }

  .news-list__label {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;

    letter-spacing: 0.1px;
    color: var(--secondary-text-color);
    transition: all 500ms linear;
  }

  .news-list__img-wrap:hover + .news-list__label {
    color: var(--accent-color);
  }

  /* ========== CONTENT TABLE ========== */

  .content-table {
    position: fixed;
    z-index: 999;
    right: 135px;
    bottom: 30px;
    background-color: var(--secondary-text-color);

    width: 273px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 20px;

    border: 1px solid #d9dce4;
    border-radius: 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
  }

  .content-table__button {
    position: absolute;
    top: 0px;
    left: -22.5px;

    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background-color: var(--accent-color);

    cursor: pointer;

    transition: all 300ms linear;
  }

  .content-table__button:hover,
  .content-table__button:focus {
    background-color: var(--accent-color-hover);
  }

  .content-table:hover > .content-table__button,
  .content-table:focus > .content-table__button {
    background-color: var(--accent-color-hover);
  }

  .content-table__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: var(--accent-color);
    text-transform: uppercase;
    text-align: center;

    transition: all 300ms linear;
  }

  .content-table:hover .content-table__title,
  .content-table:focus .content-table__title {
    color: var(--accent-color-hover);
  }

  .content-table__list {
    display: none;

    margin-top: 30px;
    padding-right: 50px;
    padding-bottom: 12px;
  }

  .content-table__list.is-visible {
    display: block;
  }

  .content-table__button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content-table__button.is-visible .cross-icon {
    display: block;
  }
  .content-table__button.is-visible .list-icon {
    display: none;
  }

  .content-table__button-icon > .cross-icon {
    width: 17px;
    height: 17px;
    display: none;
  }
  .content-table__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .content-table__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;

    color: var(--accent-color);

    transition: all 300ms linear;
  }

  .content-table__link.is-active {
    color: var(--primary-text-color);
  }

  .content-table__link:hover,
  .content-table__link:focus {
    color: var(--accent-color-hover);
  }
}

/* ========== TEAM ========== */

.team {
  margin-bottom: 30px;
}

.section-descr.team-info {
  margin-bottom: 30px;
}

.team__list-item {
  border: 1px solid #c0c7d9;
  box-shadow: 0px 5px 20px rgba(77, 77, 158, 0.21);

  text-align: center;
  padding: 20px 15px 15px 15px;
}

.team__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.team__img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: none;

  margin: auto;
  margin-bottom: 5px;
}
.team__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.55;
}

.team__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.89;
}

.team__article {
  display: inline-block;
  min-width: 260px;
  height: 46px;
  padding: 10px 58px;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.56;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 15px auto;

  transition: all 300ms linear;
}

.team__article:hover,
.team__article:focus {
  background-color: var(--accent-color-hover);
  transform: scale(1.04);
}

.team__descr {
  display: inline-block;
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
}
.read-more-btn {
  color: var(--accent-color);
  cursor: pointer;
  transition: color 300ms linear;
}

.read-more-btn__table {
  display: none;
}

.read-more__table {
  display: none;
}

/* @media screen and (min-width: 768px) {
  .read-more-btn__table {
    display: inline;
    color: var(--accent-color);
    cursor: pointer;
    transition: color 300ms linear;
  }

  .read-more-btn__table:hover,
  .read-more-btn__table:focus {
    color: var(--accent-color-hover);
  }

  .read-more-btn {
    display: none;
  }

  .read-more-btn__table.is-hidden {
    display: none;
  }

  .read-more-btn__table.is-hidden + .read-more__table {
    display: inline;
  }
} */

.read-more-btn:hover,
.read-more-btn:focus,
.read-more-btn__table:hover,
.read-more-btn__table:focus {
  color: var(--accent-color-hover);
}

.read-more {
  display: none;
}

.read-more-btn.is-hidden {
  display: none;
}

.read-more-btn.is-hidden + .read-more {
  display: inline;
}

@media screen and (min-width: 768px) {
  .team {
    margin-bottom: 32px;
  }
  .team__list-item {
    display: flex;
    padding: 23px 20px;
  }

  .team__img {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .team__article {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .team__descr {
    margin-left: 30px;
  }

  .read-more-btn {
    display: none;
  }

  .read-more {
    display: inline;
  }

  .read-more-btn__table {
    display: inline;
    color: var(--accent-color);
    cursor: pointer;
    transition: color 300ms linear;
  }

  .read-more-btn__table:hover,
  .read-more-btn__table:focus {
    color: var(--accent-color-hover);
  }

  .read-more-btn {
    display: none;
  }

  .read-more-btn__table.is-hidden {
    display: none;
  }

  .read-more-btn__table.is-hidden + .read-more__table {
    display: inline;
  }
}

@media screen and (min-width: 1440px) {
  .team .container {
    padding-right: 0;
    padding-left: 0;
  }
}

/* ======== FEATURES ======== */

.features {
  margin-bottom: 100px;
}

@media screen and (min-width: 768px) {
  .features {
    margin-bottom: 80px;
  }
  .featutes__section {
    max-width: 549px;
  }

  .featutes__section.section-title {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .features .container {
    padding-right: 95px;
    padding-left: 0;
  }
}

/* ========= FOOTER ========= */

.footer {
  background: var(--background);
}

.footer .desc-container {
  padding: 20px 20px 0 20px;
  margin-bottom: 14px;
}

.footer-descr {
  margin-top: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.57;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 767px) {
  .hr {
    margin: 0;
    width: 100%;
    height: 1px;
    background-color: #e9eeff;
    opacity: 0.35;
  }

  .footer__category-menu {
    padding: 8px 0 9px 0;

    pointer-events: none;
    width: 100%;

    text-align: start;

    opacity: 0;
    visibility: hidden;
    display: none;
    overflow: hidden;
  }

  .footer__category-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    display: block;
  }
}

.footer__category-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.0888889px;
  color: var(--secondary-text-color);
}

.footer__category.category-news,
.footer__category.category-categories {
  padding: 11px 20px;
}

.footer__category-head {
  display: flex;
}

.footer__category-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer__category-icon > .arrow-up-icon {
  display: none;
}

.footer__category-button.is-open .arrow-up-icon {
  display: block;
}

.footer__category-button.is-open .arrow-down-icon {
  display: none;
}

.footer__category-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  letter-spacing: 0.1px;

  text-align: start;

  color: var(--secondary-text-color);

  transition: all 300ms linear;
}

.footer__category-link:hover,
.footer__category-link:focus {
  color: var(--accent-color-hover);
}

.footer__info {
  padding: 0 20px;
}

.footer__info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 17px;
  margin-bottom: 35px;
}

.footer__info-item {
  display: inline-block;
  text-align: center;
}

.footer__info-item:not(:nth-child(3n)) {
  margin-right: 41px;
}
.footer__info-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  letter-spacing: 0.1px;
  color: var(--secondary-text-color);
  transition: all 300ms linear;
}

.footer__info-link:hover,
.footer__info-link:focus {
  color: var(--accent-color-hover);
}

.footer__copyright-info {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  letter-spacing: 0.1px;

  color: var(--secondary-text-color);
  padding: 0 20px 36px;
}

@media screen and (min-width: 768px) {
  .footer .desc-container {
    padding: 50px 20px 0 20px;
    margin-bottom: 23px;
  }
  .footer-descr {
    margin-top: 15px;
  }
  .hr {
    display: none;
  }
  .footer__category-button {
    display: none;
  }
  .footer-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 20px;
    padding-right: 60px;
    margin-bottom: 35px;
  }

  .container.footer__info {
    display: flex;
    flex-direction: column;
  }
  .footer__info-item:not(:last-child) {
    margin-right: 0;
  }
  .footer__info-list {
    display: block;
    margin: 0;
  }
  .footer__info-item {
    display: block;
    text-align: start;
  }
  .footer__category-head {
    margin-bottom: 3px;
  }
  .footer__category-title {
    font-size: 22px;
    line-height: 1.59;

    letter-spacing: 0.1px;
  }
  .footer__category.category-news,
  .footer__category.category-categories {
    padding: 0;
  }
  .footer__copyright-info {
    margin: 0 auto;
    padding: 0 88px 20px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 73px;
  }

  .footer-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 42px;
  }

  .footer .desc-container {
    padding: 0;
    margin: 0;
    width: 274px;
    margin-right: 125px;
  }

  .footer-info-wrap {
    width: 770px;
  }

  .footer__copyright-info {
    padding: 0 298px 20px;
  }
}
